.menu {
	display: none;
}

.menu ul {
	display: flex;
	list-style: none;
	gap: 40px;
}

.menu ul a {
	text-decoration: none;
	color: var(--darkPrimary);
	font: 24px;
	text-transform: uppercase;
}

.menu ul li a.active {
	color: var(--greenPrimary);
}

@media screen and (min-width: 768px) {
	.menu {
		display: block;
	}
}
