.projects {
	padding-block-start: 4em;
	padding-block-end: 8em;
}

.links {
	display: flex;
	height: auto;
}

.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 220px;
	margin: 10px;
	cursor: pointer;
	flex: 0.5;
	transition: flex 0.4s ease-in 0.1s;
	opacity: 0.4;
	border: 3px solid var(--greenPrimary);
	box-shadow: -4px 4px 0 var(--white);
}

.panel h3 {
	opacity: 0;
}

.panel.active {
	flex: 1;
	opacity: 1;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.6s ease-in 0.4s;
	color: var(--white);
	font-size: 26px;
	text-shadow: 1px 1px 8px black;
}
.panel.active img {
	opacity: 0;
	display: none;
	transition: opacity 0.6s ease-in 0.1s;
}

.title-Projects {
	padding-block-end: 1em;
	font-size: 30px;
}

.panel .btn {
	width: 80px;
	padding: 10px;
	text-align: center;
	margin-top: 8px;
	opacity: 0;
	transition: opacity 0.2s ease-in 0.2s;
	border-radius: 4px;
	background: var(--white);
	border: 3px solid var(--greenPrimary);
	box-shadow: -2px 2px 0 var(--white);
}

.panel .btn:hover {
	transition: all 0.4s;
	transform: scale(1.1);
	background: var(--hovered);
	box-shadow: -4px 4px 0 var(--greenPrimary);
}

.panel.active .btn {
	opacity: 1;
	transition: opacity 0.6s ease-in 0.4s;
}

.panel .btn a {
	text-decoration: none;
	color: var(--greenPrimary);
}

@media screen and (max-width: 768px) {
	.projects {
		padding-block-end: 8em;
	}

	.links {
		flex-direction: column;
		height: 60vh;
	}

	.panel {
		width: auto;
	}
}
