@import "./button.css";
@import "./button-icons.css";
@import "./menu.css";
@import "./mensaje.css";
@import "./project.css";
@import "./footer.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.4s;
	scroll-behavior: smooth;
	color: var(--darkPrimary);
	font-family: "Raleway", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--greenPrimary: #3d5a80;
		--darkPrimary: #eee;
		--white: #eee;
		--hovered: #ee6c4d;
		--gradient: linear-gradient(to right, #3d5a80 0%, #293241 100%);
	}
}

:root {
	--greenPrimary: #3d5a80;
	--darkPrimary: #293241;
	--white: #eee;
	--hovered: #ee6c4d;
	--gradient: linear-gradient(to right, #e0fbfc 0%, #98c1d9 100%);
	--body1: 22px/28px;
	--body2: 18px/26px;
	--button: bold 22px/30px;
	--button2: bold 16px/24px;
	--caption: 16px/22px;
}

body {
	background: var(--gradient);
	min-block-size: 100vh;
	margin-inline: 4%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	block-size: 86px;
	padding-inline: 10px;
	position: sticky;
	top: 0;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	z-index: 1;
}

.logo {
	height: 100px;
	width: 100px;
	margin-top: 0.6em;
}

.social {
	padding-block-end: 24px;
	gap: 16px;
}

.wrapper {
	max-inline-size: 1158px;
	padding-inline-end: 1em;
	padding-inline-start: 1em;
	margin: auto;
}

/*---Hero---*/

.foto-perfil {
	border-radius: 16px;
	border: 3px solid var(--greenPrimary);
	box-shadow: -5px 5px 0 var(--white);
}

.hero {
	padding-block-start: 32px;
}

.hero-image {
	text-align: center;
}

.hero-image img {
	max-inline-size: 100%;
	width: 280px;
	height: 380px;
}

.hero p {
	text-align: justify;
	font-size: 20px;
	line-height: 1.5em;
}

.hero h1 {
	font-size: 36px;
	margin: 0;
	line-height: 1.2em;
}

.hero h1 span:nth-of-type(1) {
	font-size: 24px;
	display: block;
}

.hero-description {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media screen and (min-width: 768px) {
	.hero {
		display: flex;
		gap: 32px;
	}

	.hero-description {
		order: 1;
		max-inline-size: 420px;
	}

	.hero-image {
		order: 2;
		text-align: end;
		flex: 1;
	}

	.hero-social {
		display: flex;
		justify-content: space-around;
	}
}

@media screen and (min-width: 1024px) {
	.hero-image img {
		width: 320px;
		height: 420px;
	}
}
